@media (max-width: 750px){
    * {
        margin: 0;
        }
      
    header {
        position: fixed;
        width: 100%;
    }

    .menu {
        position:fixed;
    }

    #titulo {
        font-family: sans-serif;
        font-weight: lighter;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid black;
        margin-bottom: 2px;
        margin-top: 5px;
    }
        
    .navbar {
        background-color:rgba(0, 0, 0, 0.7);
        float: left;
        width: 100%;
    }
        
    nav ul {
        list-style: none;
    }
        
    nav ul li {
        float: left;
        font-family: Arial, Helvetica, sans-serif;
    }
        
    nav ul li a {
        padding: 20px;
        color: #d4d4d4;
        text-decoration: none;
        display: block;
        padding-left: 10px;
    }

    nav ul li a:hover{
        color: rgb(243, 189, 114);
    }
        
    .dcha {
        display: flex;
        justify-content: right;
        padding-right: 20px;
    }

    .main-content {
        margin-left: 100px;
        margin-right: 100px;
        position: absolute;
        top: 110px;
        display: flex;
        justify-content: space-between;
    }

    .p1 {
        display: inline-block;
        width: 45%;
    }

    .image {
        width: 85%;
        border: 1px solid black;
    }

    .p2 {
        display: inline-block;
        width: 45%;
        margin-left: 0px;
    }

    #board1 {
        display: flex;
        justify-content: center;
        margin-top: 14px;
    }

}



